{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Cálculo de Payoff!</h1>

    <canvas id="myChart" width="100" height="30hv"></canvas>

    <p>
        <label for="numberOfSteps">Number of steps:</label>
        <input type="number" id="numberOfSteps" value="5">
    </p>
    <p>
        <label for="startOfArray">Start of array:</label>
        <input type="number" id="startOfArray" value="1">
    </p>
    <p>
        <label for="endOfArray">End of array:</label>
        <input type="number" id="endOfArray" value="10">
    </p>
    <p>
        <button onclick="createArrayAndShow()">Create array</button>
    </p>
    <p id="array"></p>
    
    <button id="generator">Generator</button>


<script>
// Cria e exibe a matriz
function createArray(numberOfSteps, startOfArray, endOfArray) {
    var array = [];
    var step = (endOfArray - startOfArray) / (numberOfSteps - 1);
    for (var i = 0; i < numberOfSteps; i++) {
        array.push((((startOfArray + i * step) * 100) / 100).toFixed(2));
    }
    return array;
}

function showArray(array) {
    var text = "";
    for (var i = 0; i < array.length; i++) {
        text += array[i] + " ";
    }
    document.getElementById("array").innerHTML = text;
}

function createArrayAndShow() {
    var numberOfSteps = document.getElementById("numberOfSteps").value;
    var startOfArray = document.getElementById("startOfArray").value;
    var endOfArray = document.getElementById("endOfArray").value;
    var array = createArray(numberOfSteps, startOfArray, endOfArray);
    showArray(array);
}


</script>



    <script>
        document.getElementById('generator').addEventListener('click', function() {
        
            var newDiv = document.createElement('div');
            document.body.appendChild(newDiv);
        
            var newCheckbox = document.createElement('input');
            newCheckbox.setAttribute('type', 'checkbox');
            newCheckbox.setAttribute('class', 'enableLine');
            newCheckbox.setAttribute('checked', 'true');
            newDiv.appendChild(newCheckbox);
        
            var txtField = document.createElement('input');
            txtField.setAttribute('type', 'text');
            newDiv.appendChild(txtField);
        
            var dropDownList = document.createElement('select');
            var listItems = ['', 'item1', 'item2', 'item3'];
            listItems.forEach(function(item) {
              var option = document.createElement('option');
              option.innerHTML = item;
              dropDownList.appendChild(option);
            });
            dropDownList.addEventListener('change', function(){
                txtField.value = this.value;

            });
            newDiv.appendChild(dropDownList);
            var txtField = document.createElement('input');
            txtField.setAttribute('type', 'text');
            newDiv.appendChild(txtField);            
      
        });
        </script>




    <script>
        

    var list_label = {{list_label|safe}};
    var compradas = {{compradas|safe}};
    var vendidas = {{vendidas|safe}};
    var lista_concatenada = {{lista_concatenada|safe}};
    // var data4 = {{data4|safe}};
    var resultante = {{resultante|safe}};
    
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:   lista_concatenada ,
            datasets: [
                {
                    label: 'Vendidas',
                    data: compradas,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                },
                {
                    label: 'compradas',
                    data: compradas,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                },/*
                {
                    label: 'Put Compradas',
                    data: data3,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Call Compradas',
                    data: data4,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                },*/
                {
                    label: 'resultante',
                    data: resultante,
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderWidth: 1
                }
            
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
    






    <p>
        Desenvolvido por:
      <a class="navbar-brand logo_h" href="https://enedino.com.br"><img src="{% static 'assets/images/logo.png'%}"
          alt=""></a>
      <a class="navbar-brand logo_h" href="https://enedino.com.br"  style="heigth:20px"><img
            src="{% static 'assets/images/faviconEnedino.svg'%}" style="width:30px" alt=""></a>
      </p>












</body>
</html>